In [1]:
import pandas as pd

In [27]:
country_data=pd.read_csv("countries-aggregated.csv")

In [28]:
country_data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [29]:
country_data.tail()

              Date   Country  Confirmed  Recovered  Deaths
161563  2022-04-12  Zimbabwe     247094          0    5460
161564  2022-04-13  Zimbabwe     247160          0    5460
161565  2022-04-14  Zimbabwe     247208          0    5462
161566  2022-04-15  Zimbabwe     247237          0    5462
161567  2022-04-16  Zimbabwe     247237          0    5462

In [30]:
country_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [31]:
country_data["Date"]

0         2020-01-22
1         2020-01-23
2         2020-01-24
3         2020-01-25
4         2020-01-26
             ...
161563    2022-04-12
161564    2022-04-13
161565    2022-04-14
161566    2022-04-15
161567    2022-04-16
Name: Date, Length: 161568, dtype: object

In [32]:
country_data["Date"]=pd.to_datetime(country_data["Date"])

In [33]:
country_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  datetime64[ns]
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [34]:
country_data["Country"].nunique()

198

In [35]:
type(country_data.loc[161564])

pandas.core.series.Series

In [36]:
country_data.loc[161564]

Date         2022-04-13 00:00:00
Country                 Zimbabwe
Confirmed                 247160
Recovered                      0
Deaths                      5460
Name: 161564, dtype: object

In [37]:
#country_data.set_index("Country").loc["India"]

In [38]:
#ind_data=country_data.set_index("Country").loc["India"]

In [39]:
#ind_data

In [40]:
#country_data = country_data.query("(Country == 'India')")

In [41]:
country_data

             Date      Country  Confirmed  Recovered  Deaths
0      2020-01-22  Afghanistan          0          0       0
1      2020-01-23  Afghanistan          0          0       0
2      2020-01-24  Afghanistan          0          0       0
3      2020-01-25  Afghanistan          0          0       0
4      2020-01-26  Afghanistan          0          0       0
...           ...          ...        ...        ...     ...
161563 2022-04-12     Zimbabwe     247094          0    5460
161564 2022-04-13     Zimbabwe     247160          0    5460
161565 2022-04-14     Zimbabwe     247208          0    5462
161566 2022-04-15     Zimbabwe     247237          0    5462
161567 2022-04-16     Zimbabwe     247237          0    5462

[161568 rows x 5 columns]

In [54]:
country_data
#masking

             Date      Country  Confirmed  Recovered  Deaths
0      2020-01-22  Afghanistan          0          0       0
1      2020-01-23  Afghanistan          0          0       0
2      2020-01-24  Afghanistan          0          0       0
3      2020-01-25  Afghanistan          0          0       0
4      2020-01-26  Afghanistan          0          0       0
...           ...          ...        ...        ...     ...
161563 2022-04-12     Zimbabwe     247094          0    5460
161564 2022-04-13     Zimbabwe     247160          0    5460
161565 2022-04-14     Zimbabwe     247208          0    5462
161566 2022-04-15     Zimbabwe     247237          0    5462
161567 2022-04-16     Zimbabwe     247237          0    5462

[161568 rows x 5 columns]

In [55]:
mask=(country_data["Country"]=="India") & (country_data["Date"]=="2021-06-22")

In [56]:
mask

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Length: 161568, dtype: bool

In [57]:
country_data[mask]

            Date Country  Confirmed  Recovered  Deaths
65797 2021-06-22   India   30028709   28994855  390660

In [69]:
country_data.query("(Country=='Zimbabwe') & (Date == '2021-06-22')")

             Date   Country  Confirmed  Recovered  Deaths
161269 2021-06-22  Zimbabwe      42714      37288    1691