In [3]:
import pandas as pd

In [9]:
country_data=pd.read_csv("countries-aggregated.csv")

In [10]:
country_data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [11]:
country_data.tail()

              Date   Country  Confirmed  Recovered  Deaths
161563  2022-04-12  Zimbabwe     247094          0    5460
161564  2022-04-13  Zimbabwe     247160          0    5460
161565  2022-04-14  Zimbabwe     247208          0    5462
161566  2022-04-15  Zimbabwe     247237          0    5462
161567  2022-04-16  Zimbabwe     247237          0    5462

In [12]:
country_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [17]:
country_data["Date"]

0         2020-01-22
1         2020-01-23
2         2020-01-24
3         2020-01-25
4         2020-01-26
             ...
161563    2022-04-12
161564    2022-04-13
161565    2022-04-14
161566    2022-04-15
161567    2022-04-16
Name: Date, Length: 161568, dtype: object

In [22]:
country_data["Date"]=pd.to_datetime(country_data["Date"])

In [23]:
country_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  datetime64[ns]
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [30]:
country_data["Country"].nunique()

198

In [35]:
type(country_data.loc[161564])

pandas.core.series.Series

In [36]:
country_data.loc[161564]

Date         2022-04-13 00:00:00
Country                 Zimbabwe
Confirmed                 247160
Recovered                      0
Deaths                      5460
Name: 161564, dtype: object

In [50]:
country_data.set_index("Country").loc["India"]

              Date  Confirmed  Recovered  Deaths
Country
India   2020-01-22          0          0       0
India   2020-01-23          0          0       0
India   2020-01-24          0          0       0
India   2020-01-25          0          0       0
India   2020-01-26          0          0       0
...            ...        ...        ...     ...
India   2022-04-12   43038016          0  521736
India   2022-04-13   43039023          0  521737
India   2022-04-14   43039972          0  521743
India   2022-04-15   43040947          0  521747
India   2022-04-16   43042097          0  521751

[816 rows x 4 columns]

In [51]:
ind_data=country_data.set_index("Country").loc["India"]

In [52]:
ind_data

              Date  Confirmed  Recovered  Deaths
Country
India   2020-01-22          0          0       0
India   2020-01-23          0          0       0
India   2020-01-24          0          0       0
India   2020-01-25          0          0       0
India   2020-01-26          0          0       0
...            ...        ...        ...     ...
India   2022-04-12   43038016          0  521736
India   2022-04-13   43039023          0  521737
India   2022-04-14   43039972          0  521743
India   2022-04-15   43040947          0  521747
India   2022-04-16   43042097          0  521751

[816 rows x 4 columns]

In [56]:
country_data = country_data.query("(Country == 'India')")

In [57]:
country_data

            Date Country  Confirmed  Recovered  Deaths
65280 2020-01-22   India          0          0       0
65281 2020-01-23   India          0          0       0
65282 2020-01-24   India          0          0       0
65283 2020-01-25   India          0          0       0
65284 2020-01-26   India          0          0       0
...          ...     ...        ...        ...     ...
66091 2022-04-12   India   43038016          0  521736
66092 2022-04-13   India   43039023          0  521737
66093 2022-04-14   India   43039972          0  521743
66094 2022-04-15   India   43040947          0  521747
66095 2022-04-16   India   43042097          0  521751

[816 rows x 5 columns]